// General
@media (max-width: 767px) {
    #centerize, #centered {
        text-align: center;
    }
}

@media only screen and (max-width: 1239px) {
	#Top_bar a.responsive-menu-toggle {
		top: 15px;
    }   

    #Top_bar #logo, .header-fixed #Top_bar #logo, .header-plain #Top_bar #logo, .header-transparent #Top_bar #logo {
        height: 50px;
        line-height: 100px;
        padding: 10px 0;
    }
    
    #Top_bar #logo img {
        vertical-align: top;
        max-height: 100%;
    }
    
    #section1 {
        width: 35%;
    }

    #section2 {
        width: 60%;
    }

}

// target: services.html
#padding-xx {
    padding: 70px 10px 25px 70px;
}

#padding-xy {
    padding: 70px 40px 25px 40px;
}

@media (max-width: 767px) {
    #padding-xx {
        padding: 50px 30px 30px 30px;
    }
}

@media (max-width: 500px) {
    #padding-xx {
        padding: 40px 20px 20px 20px;
    }
    
    #padding-xy {
        padding: 50px 25px 20px 25px;
    }
}

// target: contact.html
#padding-xz {
    padding: 70px 70px 25px 70px;
}

@media (max-width: 767px) {
    #padding-xz {
        padding: 50px 50px 30px 50px;
    }
}

@media (max-width: 400px) {
    #padding-xz {
        padding: 50px 30px 30px 30px;
    }
}

@media (max-width: 305px) {
    #padding-xz {
        padding: 30px 25px 20px 25px;
    }
}